h1 {
    text-align: center;
}

#roast-selection {
    max-width: 300px;
    width: 90%;
    text-align-last: center;
}

#coffee{
    width: 100%;
    padding: 0;
    background-color: lightgrey;
    border: solid 1px black;
}
#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#coffeeList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#coffeeList a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: lightgrey;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    text-align: center;
}

#coffeeList div a:hover:not(.header) {
    background-color: sandybrown;
}

/* SMALL SCREENS */
@media screen and (min-width: 576px) {
}
/* MEDIUM SIZE SCREENS */
@media screen and (min-width:768px) {
}
/* LARGE SCREENS */
@media (min-width: 992px) {
}